{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between">

<h2>Dashboard</h2>

<a href="/add"
class="btn btn-success">
Add Student
</a>

</div>

<hr>

<div class="card mb-3">

<div class="card-body">

<h4>
Total Students:
{{ total_students }}
</h4>

</div>

</div>

<form action="/search">

<input
type="text"
name="query"
class="form-control"
placeholder="Search Student">

</form>

<br>

<table class="table table-bordered">

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Course</th>
<th>Marks</th>
<th>Actions</th>
</tr>

{% for student in students %}

<tr>

<td>{{ student.id }}</td>

<td>{{ student.name }}</td>

<td>{{ student.email }}</td>

<td>{{ student.course }}</td>

<td>{{ student.marks }}</td>

<td>

<a href="/edit/{{ student.id }}"
class="btn btn-primary btn-sm">
Edit
</a>

<a href="/delete/{{ student.id }}"
class="btn btn-danger btn-sm">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}
